.filas{
    width: 5%; 
    height: 25rem;
}

.areaTexto{
    width: 100%; 
    overflow: hidden;
    display:block;
    border: none;
}

.marco{
    width: 50%; 
    height: 25rem;
}

.output{
    width: 40%;
    height: 25rem;
}